{% extends "ProgracqteurWikipedaleBundle::layout_admin_zone.html.twig" %}

{#
    This template is used to render the form 
Progracqteur\WikipedaleBundle\Form\Management\GroupType

The variable injected by controllers are : 

- form : the form
- type: the role of the form. It may be:
   * update
   * create

#}

{% block title %}{% if title == 'update' %}{% trans %}groups.form.update{% endtrans %}{% elseif title == 'create' %}{% trans %}groups.form.create{% endtrans %}{% endif %}{% endblock %}

{% block body %}

<form method="post" {{ form_enctype(form) }} path="#">


    
    {# please do not delete this : #} {{form_rest(form)}}
    
    <input type="submit" value="{% trans %}form.button.submit{% endtrans %}" />
</form>


{% endblock %}
