/web/bundles/
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.ini
/app/bootstrap*
/src/Acme/
/output/
/web/uploads/*
/src/Progracqteur/WikipedaleBundle/DataFixtures/ORM/Files/*
!/web/uploads/images/index.html
