/web/bundles/
/app/cache/*
!/app/cache/dev/security/nonces/index
!/app/cache/prod/security/nonces/index
/app/logs/*
/vendor/
/app/config/parameters.ini
/app/bootstrap*
/src/Acme/
/output/
/web/uploads/images/*
!/web/uploads/images/index.html
/src/Progracqteur/WikipedaleBundle/DataFixtures/ORM/Files/*
.gitignore~
*~