parameters:
    database_driver   : pdo_pgsql
    database_host     : localhost
    database_port     : 5432
    database_name     : databasename
    database_user     : username
    database_password : password

    mailer_transport  : smtp
    mailer_host       : 
    mailer_user       :
    mailer_password   :

    locale            : fr

    secret            : ThisTokenIsNotSoSecretChangeIt
    

    
    date_format       : d/m/Y à H:i
    
    cities_in_front_page: [mons, tournai, liege, walhain, namur]

    place_types       :
      bike :
            label : place_type.bike.label
            terms : 
               - {key: short, label: place_type.bike.short.label, mayAddToPlace: IS_AUTHENTICATED_ANONYMOUSLY}
               - {key: long, label: place_type.bike.long.label, mayAddToPlace: ROLE_PLACE_TERM }
               - {key: medium, label: place_type.bike.medium.label, mayAddToPlace: IS_AUTHENTICATED_ANONYMOUSLY }
                  
    place_type_default: 'bike.short'

