<div id="div_placeDetails" style="display:none;">
  <p class="PointTitle">#<span class="span_id"></span> <span id="span_lieu"></span></p>
      
  <div class="PointDescription">
    <p class="creator">
      {{ 'display_black_points.author'|trans({}, 'changes') }} 
      <a href="#"><span class="span_creator"></span></a> :
    </p>
      
    <div class="clearboth"></div>
      <span class="QuotationBegin"></span>
      <p class="p_description">
        <span id="span_description"></span>
      </p>
      <span class="span_photo"></span>
      <a href="#" class="link_add_photo" title="{{ 'display_black_points.add_picture'|trans({}, 'changes') }}">
        <img src='../img/AddPicture.png' />
      </a>
      
      <!-- <span class='span_nbVote'></span> votes      
        <span class="span_nbComm"></span> {{ 'display_black_points.comments'|trans({}, 'changes') }} -->
  </div>
</div>