<div id="MapAndEditorContener">
	<div id="map">
	</div>

 	<div id="ToolsPanel">

 		<div id="param_carte">
 			<div id="buttonOptionsAffichage" title="Button is to be clicked" onclick="javascript:action_buttonOptionsAffichage();">Options d'affichage</div>

 			<div id="div_options_affichage">

 				<form method="post" action="#" id="form_small_big">
 					<input type="checkbox" name="option1" value="Milk" checked> Petits signalements<br />
 					<input type="checkbox" name="option2" value="Butter"> Gros signalements
 				</form>

 				<select style="width:200px;" data-placeholder="" class="chzn-select" multiple tabindex="6">
        			{# set a value to detect changes in parent category #}
        			{% set parentId = null %}
        			{% for category in categories %}
          				{% if parentId != category.parent.id %}
            				{% if parentId is not null %}
              					</optgroup>
            				{% endif %}
                 
            				<optgroup label="{{category.parent.label}}">
            				{% set parentId = category.parent.id %}
            			{% endif %}
              			<option value="{{category.id}}">{{category.label}}</option>             
        			{% endfor %}      
       				</optgroup>
      			</select>
      		</div>
 		</div>

    	<div id="olPanelUL"></div>

    	{% include "ProgracqteurWikipedaleBundle:Default:description_new.html.twig" %}

    	{% include "ProgracqteurWikipedaleBundle:Default:description_edit.html.twig" %}

	    {% include "ProgracqteurWikipedaleBundle:Default:description_details.html.twig" %}

  	</div>
</div>