/* Contour de la carte */
#MapAndEditorContener {
  background: green;
  height: 400px;
  width: 1000px;
}

/* Panel */
/**** Panel haut-gauche ****/
#olPanelUL {
  background: green;
  float: left;
  width: 600px;
  height: 30px;
}

/**** Panel haut-droite ****/
#panelUR {
  background: white;
  float: left;
  width: 400px;
  height: 30px;
}

/* Button */
.olControlButtonAddPlaceItemActive {
    float: left;
    border: 1px solid black;
    background: red;
    width: 150px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align:center;
}

.olControlButtonAddPlaceItemActive:hover {
    background: blue;
}

.olControlButtonLatelyUpdatedItemActive {
    float: left;
    border: 1px solid black;
    background: red;
    width: 150px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align:center;
}

.olControlButtonLatelyUpdatedItemActive:hover {
    background: blue;
}

.olControlButtonLatelyAddedItemActive {
    float: left;
    border: 1px solid black;
    background: red;
    width: 150px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align:center;
}

.olControlButtonLatelyAddedItemActive:hover {
    background: blue;
}

.ButtonGeneral{
  float: left;
  background: gray;
  height: 20px;
  border: 1px solid black;
  width: 75px;
  margin-right: 10px;
  margin-left: 10px;
  text-align:center;

}

<!-- mods ben -->

#html, body {
    padding:0; margin: 0; width:100%;
}

#connexion {
    background-color:#2D2D2D;
    text-align: right;
    margin:0;
    border-bottom: 1px solid #AAAAAA;
    padding: 0.5em 0.5em 0 0;
}
#connexion a, #connexion a:visited { color: #AAAAAA; font:bold 0.8em; text-decoration: none;}
#connexion a:hover { color: #FFFFFF;}

select#Villes { float:left; }

ul#VillesSelection {
    display:inline;
    float:left;
    padding: 0;
    margin:0;
}
ul#VillesSelection li { float:left; list-style-type: none; margin-left: 1em; }