#html, body { padding:0; margin: 0; width:100%; }
.clearboth { clear:both; }

/* #form_AjoutPoint { display: none; } */

/* Carte */
#MapAndEditorContener {
}

#MapAndEditorContener #map {
    width:70%;
    height:600px;
    margin:1em;
    float:left;
}

#MapAndEditorContener #div_signaler {
    display:none;
    margin:0 0 0 1em;
    height:300px;
    background: #FFFFFF;
    overflow:auto;
}

div#div_signaler input#l, div#div_signaler textarea#d { width:90%; }
#div_signaler .send { float:right; margin:0.1em 8% 1em 1em; }

#div_placeDetails { margin:0 0 0 1em; }
#div_placeDetails h1 { color: #333333; font-size:1.2em; margin:0 1em 0 0; float:left; }
#div_placeDetails #span_lieu { font-weight:bold; margin:0 0 1em 0; }
#div_placeDetails #QuotationBegin { background: url('../img/QuotationMark.png') no-repeat top left; float:left; width:32px; height:32px; }
#div_placeDetails #span_description { background: url('../img/QuotationMark-end.png') no-repeat bottom right; padding:0 35px 0 40px; margin:0; height:32px; font-style: italic; }
#div_placeDetails a.link_add_photo { margin-left:2px; }
#div_placeDetails p.creator { font-size: 0.8em; color: #2D2D2D; margin:0; }

/* Panel */
/**** Panel haut-gauche ****/
#olPanelUL {
  clear:both;
}

/* Menu actions Signalement */
.olControlButtonAddPlaceItemActive {
    float: left;
    height: 20px;
    margin: 0 0.5em 1em 0.5em;
    text-align:center;
    padding : 0.2em 0.5em 0.2em 27px;
    background: #D14836 url('../img/plus.png') no-repeat 0.5em;
    border: 1px solid transparent;
    color: #FFFFFF;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.olControlButtonAddPlaceItemActive:hover {
    background: #E23D27 url('../img/plusblanc.png') no-repeat 0.5em;
}

.olControlButtonLatelyUpdatedItemActive, .olControlButtonLatelyAddedItemActive {
    float: left;
    margin:0.2em 0.5em 0.5em 0.5em;
    text-align:center;
    color: #FF0000;
    text-decoration:underline;
}

.olControlButtonLatelyUpdatedItemActive:hover, .olControlButtonLatelyAddedItemActive:hover {
    color: #800000;
    text-decoration:underline;
}

.ButtonGeneral{
  float: left;
  background: gray;
  height: 20px;
  border: 1px solid black;
  width: 75px;
  margin-right: 10px;
  margin-left: 10px;
  text-align:center;
}

#connexion {
    background-color:#2D2D2D;
    text-align: right;
    margin:0 0 1em 0;
    border-bottom: 1px solid #AAAAAA;
    padding: 0.5em 1em 0 0;
}
#connexion a, #connexion a:visited, #connexion { color: #AAAAAA; font-size:0.9em; text-decoration: none;}
#connexion a:hover { color: #FFFFFF;}

select#Cities_dhmlx { float:left; }

div#BoiteChoixVille {
    clear:right;
}

ul#VillesSelection {
    padding: 0;
    margin:0;
}
ul#VillesSelection li { float:left; list-style-type: none; margin-left: 1em; display:inline; }

span#VilleActuelle {
    color:#FFFFFF;
}

#PiedDePage {
    display:block;
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
    clear:both;
    margin:2em 0 0 0;
}