  
wikipedale_homepage:
  pattern: /
  defaults: {_controller: ProgracqteurWikipedaleBundle:Default:homepage }
  options:
    expose: true
    
wikipedale_about:
    pattern:  /about
    defaults: { _controller: ProgracqteurWikipedaleBundle:Default:about }
    options:
      expose: true
  
wikipedale_to_city:
  pattern: /city/{citySlug}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Manager:toCity }
  options:
    expose: true
    
wikipedale_reset_city:
  pattern: /reset_city
  defaults: {_controller: ProgracqteurWikipedaleBundle:Manager:resetCity }
  options:
    expose: true
  
wikipedale_place_view:
  pattern: /place/view/{id}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Place:view }
  requirements:
    _format: html|json
  options:
    expose: true
    
wikipedale_place_list_by_bbox:
  pattern: /place/list/bybbox.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Place:listByBBox }
  requirements:
    _format: json
    
wikipedale_place_list_by_city:
  pattern: /place/list/bycity.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Place:listByCity }
  requirements:
    _format: json
  options:
    expose: true

wikipedale_place_change:
  pattern: /place/change.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Place:change }
  requirements:
    _format: json
  options:
    expose: true
    
    
wikipedale_user_confirm:
  pattern: /user/confirm/{token}/{placeId}.html
  defaults: {_controller: ProgracqteurWikipedaleBundle:Place:confirmUser }
  options:
    expose: true

#deprecated    
wikipedale_place_manager_view:
  pattern: /place/manager/view/{id}.html
  defaults: {_controller: ProgracqteurWikipedaleBundle:Place:placeManagerForm }
  requirements:
    id: \d+

wikiedale_comment_last_by_place:
  pattern: /comment/last/byplace/{placeId}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Comment:getLastCommentByPlace}
  requirements:
    _format: json|html
  options:
    expose: true

wikiedale_comment_list_by_place:
  pattern: /comment/list/byplace/{placeId}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Comment:getCommentByPlace}
  requirements:
    _format: json|html
  options:
    expose: true

wikipedale_comment_new:
  pattern: /comment/new/place-{placeId}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Comment:newbis }
  requirements:
    _format: json
    _method: POST
  options:
    expose: true
    
wikipedale_comment_change:
  pattern: /comment/change.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Comment:change }
  requirements:
    _format: json
    _method: POST
  options:
    expose: true
    
wikipedale_comment_view:
  pattern: /comment/view/{commentId}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Comment:view}
  requirements:
    _format: json
    commentId: \d+
  options:
    expose: true

wikipedale_photo_list_by_place:
  pattern: /photo/list/byplace/{placeId}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Photo:getPhotoByPlace }
  requirements:
    _format: json|html
  options:
    expose: true
    
wikipedale_photo_new:
  pattern: /photo/new/place-{placeId}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Photo:new }
  requirements:
    _format: html
  options:
    expose: true

wikipedale_photo_view:
  pattern: /photo/view/{fileNameP}.{photoType}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Photo:view }
  requirements:
    _format: html
  options:
    expose: true
    
wikipedale_photo_update:
  pattern: /photo/update/{fileNameP}.{photoType}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Photo:update }
  requirements:
    _format: html
  options:
    expose: true

wikipedale_authenticate:
  pattern: /authenticate.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Manager:wsseAuthenticate }
  requirements:
    _format: json
  options:
    expose: true
    
wikipedale_token_request_new:
  pattern: /token/new.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:Token:getNewTokens}
  requirements:
    _format: json
  options:
    expose: true
    
wikipedale_history_place_by_city:
  pattern: /history/places/bycity/{citySlug}.{_format}
  defaults: {_controller: ProgracqteurWikipedaleBundle:PlaceTracking:byCity }
  requirements:
    _format: json|atom
  options:
    expose: true

wikipedale_groups_list:
  pattern: /admin/group
  defaults: {_controller: ProgracqteurWikipedaleBundle:GroupAdmin:list }
  options:
    expose: false
    
wikipedale_groups_create:
  pattern: /admin/group/create
  defaults: {_controller: ProgracqteurWikipedaleBundle:GroupAdmin:create }
  options:
    expose: false

wikipedale_groups_update:
  pattern: /admin/group/update/{id}
  defaults: {_controller: ProgracqteurWikipedaleBundle:GroupAdmin:update }
  options:
    expose: false
    
wikipedale_admin_homepage:
  pattern: /admin
  defaults: {_controller: ProgracqteurWikipedaleBundle:Admin:index }

wikipedale_notations:
    resource: "@ProgracqteurWikipedaleBundle/Resources/config/routing/management_notation.yml"
    prefix:   /admin/notation
    

wikipedale_admin_usergroups:
  pattern: /admin/usergroup
  defaults: {_controller: ProgracqteurWikipedaleBundle:GroupAdmin:userList }
  
wikipedale_admin_usergroups_update:
  pattern: /admin/usergroup/user/{id}
  defaults: {_controller: ProgracqteurWikipedaleBundle:GroupAdmin:userUpdate }

wikipedale_admin_usergroups_add_or_remove_groups:
  pattern: /admin/usergroup/user/{id}/add_remove_groups
  defaults: {_controller: ProgracqteurWikipedaleBundle:GroupAdmin:addRemoveGroups }
  requirements:
    method: POST
    
ProgracqteurWikipedaleBundle_admin_category:
        resource: "@ProgracqteurWikipedaleBundle/Resources/config/routing/model_category.yml"
        prefix:   /admin/category
        
wikipedale_group_covers_zone:
   pattern: /groups/bytype/bycovering/{type}.{slugZone}.{_format}
   defaults: {_controller: ProgracqteurWikipedaleBundle:GroupFrontend:getGroupCoveringZone }
   requirements:
     _format: json
     method: GET
   options:
     expose: true
       


