parameters:
#    progracqteur_wikipedale.example.class: Progracqteur\WikipedaleBundle\Example
  progracqteur_wikipedale.normalizer.class : Progracqteur\WikipedaleBundle\Resources\Normalizer\NormalizerSerializerService
  progracqteur_wikipedale.security.controlList.class : Progracqteur\WikipedaleBundle\Resources\Security\ChangeService
  progracqteur_wikipedale.service.photo.class: Progracqteur\WikipedaleBundle\Resources\Services\PhotoService
  progracqteur_wikipedale.service.slug.class: Progracqteur\WikipedaleBundle\Resources\Services\SlugService
  progracqteur.wikipedale.service.place.tracking.toText.class: Progracqteur\WikipedaleBundle\Resources\Services\PlaceTrackingToTextService
services:
  progracqteurWikipedaleSerializer:
    class: %progracqteur_wikipedale.normalizer.class%
    arguments:
      - "@service_container"
#    arguments: 
#      em: '@doctrine.orm.entity_manager'
#      securityContext: '@security.context'
  progracqteurWikipedaleSecurityControl:
    class: %progracqteur_wikipedale.security.controlList.class%
    arguments: 
      securityContext: '@security.context'
      em: '@doctrine.orm.entity_manager'
      geoService: '@progracqteur.wikipedale.geoservice'
  progracqteurWikipedalePhotoService:
    class: %progracqteur_wikipedale.service.photo.class%
  progracqteurWikipedale.form.type.photo:
      class: Progracqteur\WikipedaleBundle\Form\Model\PhotoType
      arguments: ["@service_container"]
      tags:
          - { name: form.type, alias: photo }
  
  progracqteur.wikipedale.slug:
    class: %progracqteur_wikipedale.service.slug.class%
    
  progracqteur.wikipedale.place.tracking.toText:
    class: %progracqteur.wikipedale.service.place.tracking.toText.class%
    arguments: ["@translator"]
    
  wsse.security.authentication.provider:
    class:  Progracqteur\WikipedaleBundle\Resources\Security\Authentication\WsseProvider
    arguments: ['', %kernel.cache_dir%/security/nonces]

  wsse.security.authentication.listener:
    class: Progracqteur\WikipedaleBundle\Resources\Security\Firewall\WsseListener
    arguments: ['@security.context', '@security.authentication.manager'] 
    
  progracqteur.wikipedale.geoservice:
    class: Progracqteur\WikipedaleBundle\Resources\Services\GeoService
    arguments: ["@doctrine.orm.entity_manager"]
    
  progracqteur.wikipedale.token_provider:
    class: Progracqteur\WikipedaleBundle\Resources\Security\Csrf\TokenService
    arguments:
      csrf_provider: "@session"
      salt: framework.secret
  
  progracqteur.wikipedale.registration.form.type:
    class: Progracqteur\WikipedaleBundle\Form\Management\UserType
    arguments: [%fos_user.modeL.user.class%]
    tags: 
      - { name: form.type, alias: wikipedale_user_registration }
      
      
  progracqteur.wikipedale.changeset_consistent:
    class: Progracqteur\WikipedaleBundle\Resources\Services\ChangesetConsistent
    arguments:
      om: "@doctrine.orm.entity_manager"
  
  progracqteur.wikipedale.notification.filter.role:
    class: Progracqteur\WikipedaleBundle\Resources\Services\Notification\NotificationFilterByRole
    
  progracqteur.wikipedale.notification.filter.subscription_kind_moderator:
    class: Progracqteur\WikipedaleBundle\Resources\Services\Notification\NotificationFilterBySubscriptionModerator
    arguments: [%notifications_subscription_moderator_events%]
    
  progracqteur.wikipedale.notification.filter.subscription_kind_manager:
    class: Progracqteur\WikipedaleBundle\Resources\Services\Notification\NotificationFilterBySubscriptionManager
    arguments: [%notifications_subscription_manager_events%]

    
  progracqteur.wikipedale.notification.sender.mail:
    class: Progracqteur\WikipedaleBundle\Resources\Services\Notification\NotificationMailSender
    arguments:
      toTextService: "@progracqteur.wikipedale.notification.to_text.mail"
      filterByRole: "@progracqteur.wikipedale.notification.filter.role"
      filterBySubscriptionManager: "@progracqteur.wikipedale.notification.filter.subscription_kind_manager"
      filterBySubscriptionModerator: "@progracqteur.wikipedale.notification.filter.subscription_kind_moderator"
      mailer: "@mailer"
      translator: "@translator"
  
  progracqteur.wikipedale.notification.to_text.mail:
    class: Progracqteur\WikipedaleBundle\Resources\Services\Notification\ToTextMailSenderService
    arguments:
      translator: "@translator"
      moderatorArray: %notifications_subscription_moderator_events%
      managerArray: %notifications_subscription_manager_events%
      date_format: %date_format%
      om: "@doctrine.orm.entity_manager"
      router: "@router"
      
  

#    progracqteur_wikipedale.example:
#        class: %progracqteur_wikipedale.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
