{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}

{% block css %}
<style type="text/css">

    #fos_user_profile_form > div {
    clear: both;
    display: block;
    margin-bottom: 19px;
}



form label {
    width: 170px;
    }
    
form div {
    margin-bottom: 15px;
    }
    
form {
    width: 420px;
    }


    
    
    </style>

{% endblock %}

{% block body %}
    
{% include 'ProgracqteurWikipedaleBundle:User:user_menu.html.twig' with {active: 'profile_edit'} %}

<div class="user_content">
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
</div>
    
{% endblock body %}
