<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" rel="self">
 
 <title>{%block title%}Titre d'exemple{% endblock %}</title>
 <subtitle>{% block subtitle %}Titre secondaire {% endblock %}</subtitle>
 <link href="{% block link %}http://wikipedale.org{% endblock %}"/>
 <link href="{% block linkself %}{% endblock %}" rel="self" />
 <updated>{% block updated %}{{ "now"|date("Y-m-d\\TH:i:sP") }}{% endblock %}</updated>
 <author>
   <name>Wikipedale Admin</name>
   <email>admin@wikipedale.org</email>
 </author>
 <id>{% block id %}{% endblock %}</id>
 
 {% block entries %}
 
 <entry>
   <title>Des robots propulsés par Atom deviennent fous</title>
   <link href="http://example.org/2003/12/13/atom03"/>
   <id>urn:uuid:1225c695-cfb8-4ebb-aaaa-80da344efa6a</id>
   <updated>2010-04-01T18:30:02Z</updated>
   <summary>Poisson d'avril !</summary>
 </entry>
 
 {% endblock %}
 
</feed>
